body
{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/27.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
#n
{
    font-size: 15px;
    
}
.forget
{
    width:380px;
    height: 550px;
    background-color:#b3cccc;
    color:black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 30px;
    border-radius: 15px;

}

h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;

}

.forget input
{
    width: 100%;
    margin-bottom: 20px;
}
.forget input[type="text"],.forget input[type="password"],.forget input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:20px;
    color:black;
    font-size:12px;
}
.forget input[type="submit"]
{
    border: none;
    outline: none;
    height:30px;
    width:150px;
    float:right;
    background:#fb2525;
    color: #fff;
    font-size:15px;
    border-radius: 20px;
}
.forget input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.forget a
{
    float: left;
    margin-top: -30px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    width:40px;
    color:black;
    margin-left: 30px;
}
.forget a:hover
{
    color:blue;
}
select
{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: aqua;
    font-size: 15px;
    color: black;
}
button
{
    display:inline-block;
    margin-left: 230px;
    color: black;
    font-size: 15px;
    width: 80px;
    height:30px;
    background-color:blueviolet;
}
button:hover
{
    

    background-color:red;
}